#window-content .category {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 8px);
    margin: 0 4px;
    font-weight: 500;
    font-size: 12px;
    color: var(--gray);
    border-bottom: solid 1px var(--gray);
}
#window-content .category > div > .button {
    user-select: none;
    display: inline-block;
    margin: 0 4px;
    padding: 0 8px;
    color: var(--white);
    background-color: var(--gray);
    transition: 0.25s;
}
#window-content .category > div > .button:first-of-type {
    margin-left: 0;
}
#window-content .category > div > .button:last-of-type {
    margin-right: 0;
}
#window-content .category > div > .button:hover {
    padding: 0 8px;
    color: var(--gray);
    background-color: var(--white);
    transition: 0.25s;
}
