#profile > .list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 4px;
    padding: 4px 8px;
}
#profile > .list > table {
    transition: 250ms;
}
#profile > .list > table th {
    display: block;
    width: 64px;
    margin: 6px;
    text-align: center;
    white-space: nowrap;
    font-weight: 500;
    font-size: 14px;
    color: var(--black);
    background-color: var(--gray);
}
#profile > .list > table td {
    padding: 4px 0 6px;
}
#profile > .list .triangle_right {
    display: inline-block;
    width: 0;
    height: 0;
    margin: 0 12px;
    vertical-align: 0;
    border-top: solid 6px transparent;
    border-bottom: solid 6px transparent;
    border-left: solid 6px var(--gray);
}

#links {
    display: flex;
    flex-wrap: wrap;
}
#links > .link {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 48px;
    margin: 8px 4px;
    padding: 4px;
    border-radius: 2px;
    transition: 250ms;
}
#links > .link:hover {
    background-color: var(--gray);
    transition: 250ms;
}
#links > .link a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#links > .link > i {
    margin-bottom: 4px;
}
#links > .link > .name {
    font-size: 14px;
}
