#works > .work {
    position: relative;
    display: flex;
    margin: 8px 4px;
    padding: 4px;
    border-radius: 2px;
    border: solid 1px transparent;
    transition: 250ms;
}
#works > .work:hover {
    border: solid 1px var(--white);
    transition: 250ms;
}
#works > .work a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#works > .work > div {
    margin: 4px;
}
#works > .work > div > img {
    width: 80px;
    height: 80px;
    border-radius: 2px;
    filter: grayscale(100%);
    transition: 250ms;
}
#works > .work:hover > div > img {
    filter: grayscale(0%);
    transition: 250ms;
}
#works > .work > div > .name {
    font-weight: 500;
    font-size: 20px;
}
#works > .work > div > .explanation {
    font-weight: 100;
    font-size: 14px;
}
#works > .work > .wip > .name,
#works > .work > .wip > .explanation {
    color: var(--gray);
}
